.hero {
    --accent-cyan: #ccc2c3;
    --accent-blue: #7c7c84;
    --accent-purple: #484849;

    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: #050505;
    font-family: "Montserrat", sans-serif;
}


/* Left video section */
.hero-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 45vw;
    height: 100vh;
    overflow: hidden;
}

.hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    opacity: 0.9;
}


/* Fade effect between video and content */
.hero-video::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(
        to right,
        transparent,
        #050505
    );
}

/* Content */
.hero-content {
    width: 55vw;
    margin-left: 30vw;
    padding-left: 5rem;
    padding-right: 8rem;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
}

.hero-content p {
    font-size: 1.25rem;
    color: rgba(255,255,255,0.7);
    line-height: 1.6;
    margin-bottom: 2.5rem;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
}

.cta-button {
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background: #0515161c;
}


.cta-button.secondary {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
}


/* Mobile */
@media(max-width:768px){
    .hero {
        flex-direction: column;

    }

    .hero-video {
        position: relative;
        width: 100vw;
        height: 45vh;
    }


    .hero-content {
        width: 100vw;
        margin-left: 0;
        padding: 2rem;
        text-align: center;
    }

}